// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-bottom: .5rem;
  margin-bottom: var(--spacer-3);
  border-bottom: 0.125rem solid var(--muted);

  @media (min-width: 34em) {
    padding-top: 1rem;
  }
  //padding-top: var(--spacer);
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.nav {
  padding-left: 0;
  margin-right: -.25rem;
  margin-bottom: 0;
  list-style: none;

  a {
    padding: .25rem;
    font-weight: 600;
  }
}
