$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

:root {
  /* Base shades from light to dark */ 
  --white: #f5f5f5; // Eyeballed
  --light-0: #f9f5d7;
  --light-1: #fbf1c7;
  --light-2: #ebdbb2;
  --light-3: #d5c4a1;
  --light-4: #bdae93;
  --light-5: #a89984;
  --gray: #928374;
  --dark-0: #7c6f64;
  --dark-1: #665c54;
  --dark-2: #504945;
  --dark-3: #3c3836;
  --dark-4: #282828;
  --dark-8: #1d2021;
  --black: #1f1f1c; // Eyeballed

  /* Colors */
  --red: #cc241d;
  --red-light: #fb4934;
  --red-dark: #9d0006;
  --green: #98971a;
  --green-light: #b8bb26;
  --green-dark: #797403;
  --yellow: #d79921;
  --yellow-light: #fabd2f;
  --yellow-dark: #b57614;
  --blue: #458588;
  --blue-light: #83a598;
  --blue-dark: #076678;
  --purple: #b16286;
  --purple-light: #d3869b;
  --purple-dark: #8f3f71;
  --aqua: #689d6a;
  --aqua-light: #8ec07c;
  --aqua-dark: #427b58;
  --orange: #d65d0e;
  --orange-light: #fe8019;
  --orange-dark: #af3a03;

  /* Misc global variables */
  --body-font: "Jost", "Arial", sans-serif;
  --body-font-size: 17px;
  --body-line-height: 1.6;
  --code-font: "OfficeCodePro", "Courier New", "Courier", monospace;
  --border-radius: .25rem;
  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);

  /* Light theme specific colors */
  --body-color: var(--dark-4);
  --body-bg: var(--light-1);
  --muted-color: var(--light-2);

  --link-color: var(--black);
  --link-border-color: var(--light-3);

  --heading-color: var(--dark-4);
  --date-color: var(--dark-2);
  --text-highlight-bg: var(--purple-light);
  --message-bg: var(--purple-light);
  --quote-color: var(--blue-dark);
  --quote-accent: var(--blue);
  --scrollbar-color: var(--light-2) var(--light-1);

  --border-color: var(--dark-2);

  --code-color: var(--red-dark);
  --code-bg: var(--light-0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: var(--light-2);
    --body-bg: var(--dark-4);
    --muted-color: var(--dark-3);

    --heading-color: var(--light-1);
    --date-color: var(--light-3);
    --text-highlight-bg: var(--yellow);
    --message-bg: var(--yellow);
    --quote-color: var(--blue-light);
    --quote-accent: var(--blue);
    --scrollbar-color: var(--dark-1) var(--dark-2);

    --link-color: var(--light-1);
    --link-border-color: var(--dark-2);

    --border-color: var(--light-3);

    --code-color: var(--red-light);
    --code-bg: var(--black);
  }
}
