// Wrapping elements around code snippets
//
// Code syntax styling itself is handled by gruvbox.css
// which was ported from the output of Rouge's Gruvbox class:
// https://www.rubydoc.info/gems/rouge/Rouge/Themes/Gruvbox

code,
pre {
  font-family: var(--code-font);
}

code {
  font-size: 85%;
  color: var(--code-color-wcag);
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: var(--spacer-3);
  overflow: auto;
}

.highlight {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  background-color: var(--none-more-background);
  border-radius: var(--border-radius);
  scrollbar-color: var(--scrollbar-color);

  pre {
    margin-bottom: 0;
  }

  code {
    color: var(--code-color);
  }

  // Triple backticks (code fencing) doubles the .highlight elements
  .highlight {
    padding: 0;
  }
}

.rouge-table {
  margin-bottom: 0;
  font-size: 100%;

  &,
  td,
  th {
    border: 0;
  }

  .gutter {
    vertical-align: top;
    user-select: none;
    opacity: .25;
  }
}
