---
layout: base
---

{% include social_icons.html %}

<div class="home">
  <section class="about">
    {% if site.about contains "image" %}
      <img src="{{ site.about.image | relative_url }}" alt="{{ site.about.name }}">
    {% else %}
      <h1>{{ site.tagline }}</h1>
    {% endif %}

    <p>{{ site.about.description }}</p>

    {% if site.about contains "socials" and site.about.socials.size > 0 %}
      <ul class="social-links">
        {% for social in site.about.socials %}
        <li>
          <a href="{{ social.url }}" rel="noreferrer">
            <svg>
              <use xlink:href="#{{ social.id }}"></use>
            </svg>
            {{ social.id | capitalize }}
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>

  {% comment %}
    You can add any content you want to index.html 
    and it will be rendered instead of the post archive
  {% endcomment %}
  {% assign content = content | strip_newlines %}
  {% if content != '' %}
    <section>
      {{ content }}
    </section>
  {% else %}
    <section class="archive">
      {% include posts-by-year.html %}
    </section>
  {% endif %}
</div
