// Body typeface
@font-face {
  font-family: "Jost";
  src: url("fonts/body/Jost.woff2") format("woff2");
}

// Code typeface
// There's no bold and italic font. Just don't do it.
@font-face {
  font-family: "OfficeCodePro";
  src: url("fonts/code/OfficeCodePro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OfficeCodePro";
  src: url("fonts/code/OfficeCodePro-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OfficeCodePro";
  src: url("fonts/code/OfficeCodePro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
